<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
       default-lazy-init="true">

    <bean id="anteaterDs" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbcDriverClassName}" />
        <property name="url" value="${jdbcUrl}" />
        <property name="username" value="${jdbcUsername}" />
        <property name="password" value="${jdbcPassword}" />
        <property name="initialSize" value="${jdbcInitialSize}" />
        <property name="minIdle" value="${jdbcMinIdle}" />
        <property name="maxIdle" value="${jdbcMaxIdle}" />
        <property name="maxActive" value="${jdbcMaxActive}" />
        <property name="maxWait" value="${jdbcMaxWait}" />
        <property name="testOnBorrow" value="${jdbcTestOnBorrow}" />
        <property name="testWhileIdle" value="${jdbcTestWhileIdle}" />
        <property name="timeBetweenEvictionRunsMillis" value="${jdbcTimeBetweenEvictionRunsMillis}" />
        <property name="numTestsPerEvictionRun" value="${jdbcNumTestsPerEvictionRun}" />
        <property name="minEvictableIdleTimeMillis" value="${jdbcMinEvictableIdleTimeMillis}" />
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="anteaterDs" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="anteaterDs" />
        <property name="configLocation" value="classpath:/spring/mybatis.xml" />
        <property name="mapperLocations">
            <list>
                <value>classpath:mapper/*Mapper.xml</value>
            </list>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="team.yqby.platform.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

    <!-- 声明使用注解式事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>