<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 控制台输出配置 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="GBK">
            <Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- INFO 输出配置 -->
    <appender name="logInfoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/appLogs/sumao-platform.log</File>
        <encoder  charset="GBK">
            <Pattern>%date %level [%thread] %logger{10} [%file:%line]%msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/appLogs/sumao-platform.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- 第三方 jar 日志输出配置 -->
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="DEBUG"/>
    <logger name="org.springframework.web.context.support.XmlWebApplicationContext" level="DEBUG"/>
    <logger name="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" level="INFO"/>
    <logger name="com.alibaba.dubbo.registry.zookeeper.ZookeeperRegistry" level="DEBUG"/>
    <logger name="com.alibaba.dubbo.config.AbstractConfig" level="INFO"/>
    <logger name="org.apache.commons" level="DEBUG"/>

    <!-- 日志输出适配器配置 -->
    <root level="INFO" name="team.yqby.platform">
        <appender-ref ref="stdout"/>
        <appender-ref ref="logInfoFile"/>
    </root>

</configuration>