<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.yqby.platform.mapper.TOrderMapper" >
  <resultMap id="BaseResultMap" type="team.yqby.platform.pojo.TOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="put_order_time" property="putOrderTime" jdbcType="TIMESTAMP" />
    <result column="refuse_time" property="refuseTime" jdbcType="TIMESTAMP" />
    <result column="is_pay" property="isPay" jdbcType="VARCHAR" />
    <result column="process" property="process" jdbcType="VARCHAR" />
    <result column="createBy" property="createby" jdbcType="BIGINT" />
    <result column="createByName" property="createbyname" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateBy" property="updateby" jdbcType="BIGINT" />
    <result column="updateByName" property="updatebyname" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="orderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="resOrderNo" property="resorderno" jdbcType="VARCHAR" />
    <result column="orderAmt" property="orderamt" jdbcType="VARCHAR" />
    <result column="resCode" property="rescode" jdbcType="VARCHAR" />
    <result column="resDesc" property="resdesc" jdbcType="VARCHAR" />
    <result column="addressId" property="addressid" jdbcType="BIGINT" />
    <result column="deliveryInfo" property="deliveryinfo" jdbcType="VARCHAR" />
    <result column="shopId" property="shopid" jdbcType="BIGINT" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, customer_id, put_order_time, refuse_time, is_pay, process, createBy, createByName, 
    createTime, updateBy, updateByName, updateTime, orderNo, resOrderNo, orderAmt, resCode, 
    resDesc, addressId, deliveryInfo, shopId, remarks
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="team.yqby.platform.pojo.TOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="team.yqby.platform.pojo.TOrderExample" >
    delete from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="team.yqby.platform.pojo.TOrder" >
    insert into t_order (id, customer_id, put_order_time, 
      refuse_time, is_pay, process, 
      createBy, createByName, createTime, 
      updateBy, updateByName, updateTime, 
      orderNo, resOrderNo, orderAmt, 
      resCode, resDesc, addressId, 
      deliveryInfo, shopId, remarks
      )
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=VARCHAR}, #{putOrderTime,jdbcType=TIMESTAMP}, 
      #{refuseTime,jdbcType=TIMESTAMP}, #{isPay,jdbcType=VARCHAR}, #{process,jdbcType=VARCHAR}, 
      #{createby,jdbcType=BIGINT}, #{createbyname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updateby,jdbcType=BIGINT}, #{updatebyname,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{orderno,jdbcType=VARCHAR}, #{resorderno,jdbcType=VARCHAR}, #{orderamt,jdbcType=VARCHAR}, 
      #{rescode,jdbcType=VARCHAR}, #{resdesc,jdbcType=VARCHAR}, #{addressid,jdbcType=BIGINT}, 
      #{deliveryinfo,jdbcType=VARCHAR}, #{shopid,jdbcType=BIGINT}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="team.yqby.platform.pojo.TOrder" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="putOrderTime != null" >
        put_order_time,
      </if>
      <if test="refuseTime != null" >
        refuse_time,
      </if>
      <if test="isPay != null" >
        is_pay,
      </if>
      <if test="process != null" >
        process,
      </if>
      <if test="createby != null" >
        createBy,
      </if>
      <if test="createbyname != null" >
        createByName,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updateby != null" >
        updateBy,
      </if>
      <if test="updatebyname != null" >
        updateByName,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="resorderno != null" >
        resOrderNo,
      </if>
      <if test="orderamt != null" >
        orderAmt,
      </if>
      <if test="rescode != null" >
        resCode,
      </if>
      <if test="resdesc != null" >
        resDesc,
      </if>
      <if test="addressid != null" >
        addressId,
      </if>
      <if test="deliveryinfo != null" >
        deliveryInfo,
      </if>
      <if test="shopid != null" >
        shopId,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="putOrderTime != null" >
        #{putOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refuseTime != null" >
        #{refuseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPay != null" >
        #{isPay,jdbcType=VARCHAR},
      </if>
      <if test="process != null" >
        #{process,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=BIGINT},
      </if>
      <if test="createbyname != null" >
        #{createbyname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=BIGINT},
      </if>
      <if test="updatebyname != null" >
        #{updatebyname,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="resorderno != null" >
        #{resorderno,jdbcType=VARCHAR},
      </if>
      <if test="orderamt != null" >
        #{orderamt,jdbcType=VARCHAR},
      </if>
      <if test="rescode != null" >
        #{rescode,jdbcType=VARCHAR},
      </if>
      <if test="resdesc != null" >
        #{resdesc,jdbcType=VARCHAR},
      </if>
      <if test="addressid != null" >
        #{addressid,jdbcType=BIGINT},
      </if>
      <if test="deliveryinfo != null" >
        #{deliveryinfo,jdbcType=VARCHAR},
      </if>
      <if test="shopid != null" >
        #{shopid,jdbcType=BIGINT},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="team.yqby.platform.pojo.TOrderExample" resultType="java.lang.Integer" >
    select count(*) from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=VARCHAR},
      </if>
      <if test="record.putOrderTime != null" >
        put_order_time = #{record.putOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.refuseTime != null" >
        refuse_time = #{record.refuseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isPay != null" >
        is_pay = #{record.isPay,jdbcType=VARCHAR},
      </if>
      <if test="record.process != null" >
        process = #{record.process,jdbcType=VARCHAR},
      </if>
      <if test="record.createby != null" >
        createBy = #{record.createby,jdbcType=BIGINT},
      </if>
      <if test="record.createbyname != null" >
        createByName = #{record.createbyname,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null" >
        updateBy = #{record.updateby,jdbcType=BIGINT},
      </if>
      <if test="record.updatebyname != null" >
        updateByName = #{record.updatebyname,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderno != null" >
        orderNo = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.resorderno != null" >
        resOrderNo = #{record.resorderno,jdbcType=VARCHAR},
      </if>
      <if test="record.orderamt != null" >
        orderAmt = #{record.orderamt,jdbcType=VARCHAR},
      </if>
      <if test="record.rescode != null" >
        resCode = #{record.rescode,jdbcType=VARCHAR},
      </if>
      <if test="record.resdesc != null" >
        resDesc = #{record.resdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.addressid != null" >
        addressId = #{record.addressid,jdbcType=BIGINT},
      </if>
      <if test="record.deliveryinfo != null" >
        deliveryInfo = #{record.deliveryinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.shopid != null" >
        shopId = #{record.shopid,jdbcType=BIGINT},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_order
    set id = #{record.id,jdbcType=BIGINT},
      customer_id = #{record.customerId,jdbcType=VARCHAR},
      put_order_time = #{record.putOrderTime,jdbcType=TIMESTAMP},
      refuse_time = #{record.refuseTime,jdbcType=TIMESTAMP},
      is_pay = #{record.isPay,jdbcType=VARCHAR},
      process = #{record.process,jdbcType=VARCHAR},
      createBy = #{record.createby,jdbcType=BIGINT},
      createByName = #{record.createbyname,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateBy = #{record.updateby,jdbcType=BIGINT},
      updateByName = #{record.updatebyname,jdbcType=VARCHAR},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      orderNo = #{record.orderno,jdbcType=VARCHAR},
      resOrderNo = #{record.resorderno,jdbcType=VARCHAR},
      orderAmt = #{record.orderamt,jdbcType=VARCHAR},
      resCode = #{record.rescode,jdbcType=VARCHAR},
      resDesc = #{record.resdesc,jdbcType=VARCHAR},
      addressId = #{record.addressid,jdbcType=BIGINT},
      deliveryInfo = #{record.deliveryinfo,jdbcType=VARCHAR},
      shopId = #{record.shopid,jdbcType=BIGINT},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="team.yqby.platform.pojo.TOrder" >
    update t_order
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="putOrderTime != null" >
        put_order_time = #{putOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refuseTime != null" >
        refuse_time = #{refuseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPay != null" >
        is_pay = #{isPay,jdbcType=VARCHAR},
      </if>
      <if test="process != null" >
        process = #{process,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        createBy = #{createby,jdbcType=BIGINT},
      </if>
      <if test="createbyname != null" >
        createByName = #{createbyname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        updateBy = #{updateby,jdbcType=BIGINT},
      </if>
      <if test="updatebyname != null" >
        updateByName = #{updatebyname,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderno != null" >
        orderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="resorderno != null" >
        resOrderNo = #{resorderno,jdbcType=VARCHAR},
      </if>
      <if test="orderamt != null" >
        orderAmt = #{orderamt,jdbcType=VARCHAR},
      </if>
      <if test="rescode != null" >
        resCode = #{rescode,jdbcType=VARCHAR},
      </if>
      <if test="resdesc != null" >
        resDesc = #{resdesc,jdbcType=VARCHAR},
      </if>
      <if test="addressid != null" >
        addressId = #{addressid,jdbcType=BIGINT},
      </if>
      <if test="deliveryinfo != null" >
        deliveryInfo = #{deliveryinfo,jdbcType=VARCHAR},
      </if>
      <if test="shopid != null" >
        shopId = #{shopid,jdbcType=BIGINT},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.yqby.platform.pojo.TOrder" >
    update t_order
    set customer_id = #{customerId,jdbcType=VARCHAR},
      put_order_time = #{putOrderTime,jdbcType=TIMESTAMP},
      refuse_time = #{refuseTime,jdbcType=TIMESTAMP},
      is_pay = #{isPay,jdbcType=VARCHAR},
      process = #{process,jdbcType=VARCHAR},
      createBy = #{createby,jdbcType=BIGINT},
      createByName = #{createbyname,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateBy = #{updateby,jdbcType=BIGINT},
      updateByName = #{updatebyname,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      orderNo = #{orderno,jdbcType=VARCHAR},
      resOrderNo = #{resorderno,jdbcType=VARCHAR},
      orderAmt = #{orderamt,jdbcType=VARCHAR},
      resCode = #{rescode,jdbcType=VARCHAR},
      resDesc = #{resdesc,jdbcType=VARCHAR},
      addressId = #{addressid,jdbcType=BIGINT},
      deliveryInfo = #{deliveryinfo,jdbcType=VARCHAR},
      shopId = #{shopid,jdbcType=BIGINT},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteByOrderNo" parameterType="java.lang.String">
    DELETE FROM t_order
    WHERE orderNo = #{orderNo,jdbcType=VARCHAR}
  </delete>
</mapper>